/* Formulario de reseña */
.write-review {
  background-color: #333333;
  border-radius: .25em;
  padding: .5em;
}

.write-review h3 {
  color: #3498db;
  margin: 0;
}

form label {
  display: block;
  margin-top: 10px;
  color: #e7e7e7;
  font-weight: 500;
}

form input,
form textarea {
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #4a4a4a;
  background-color: #444444;
  color: #ffffff;
  resize: none;
}

form input::placeholder,
form textarea::placeholder {
  color: #a0a0a0;
}

.write-review button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.write-review button:hover {
  background-color: #2980b9;
}

 /* Aca esta la implementacion tanto de estrellas como de lunas
 dependiendo de lo que les guste, vemos cual dejamos?
  */

/* Estilos para el rating de estrellas */
.star-rating {
  display: flex;
  align-items: center;
}

.stars {
  display: flex;
}

.star {
  font-size: 28px;
  cursor: pointer;
  padding: 0 3px;
  color: #555555; /* Estrellas vacías más oscuras */
  transition: color 0.2s, transform 0.2s;
}

.star:hover {
  transform: scale(1.2);
}

.filled {
  color: #ffb400; /* Estrellas llenas más brillantes */
}

.rating-text {
  margin-left: 12px;
  font-weight: bold;
  color: #e7e7e7;
}

/* Lista de reseñas */
.review-list {
  margin-top: 20px;
}

.review-list h3 {
  color: #3498db;
  margin-bottom: 10px;
}

.review-card {
  background-color: #333333;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
}

.review-text {
  margin-bottom: 5px;
  font-size: 1.1rem;
  color: #e7e7e7;
}

.review-rating {
  font-size: 1.3rem;
  color: #3498db;
  margin-bottom: 10px;
}

.review-rating span {
  color: #ffb400;
}

.moon {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  font-size: 20px;
  vertical-align: middle;
  color: gray;
}

.filled {
  color: #ffd700;
}


.review-title {
  font-size: 1.4rem;
  color: #ffffff;
  display: block;
  margin-bottom: 8px;
}

.studio-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.studio-column {
  flex: 1;
}

.platform-logo {
  width: 30px;
  height: 30px;
  object-fit: contain;
  margin-right: 15px;
}

@media (max-width: 768px) {
  header h1 {
    font-size: 2rem;
  }
  .selected-game,
  .write-review,
  .review-card {
    margin: 10px;
  }
  .game-info {
    flex-direction: column;
    text-align: center;
  }
  .game-image {
    width: 120px;
    height: 180px;
    margin: 0 auto 10px;
  }

  .game-title {
    font-size: 1.3rem;
  }
  .review-text {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 1.8rem;
  }
  .game-title {
    font-size: 1.2rem;
  }
  .review-rating {
    font-size: 1.1rem;
  }
}

