<section class="write-review">
  <h3>Write your review</h3>
  <form [formGroup]="reviewForm" (submit)="addReview()">
    <label for="review-title">Title:</label>
    <input
      type="text"
      id="review-title"
      formControlName="title"
      placeholder="Title of your review..."
    />
    <label for="review-text">Review:</label>
    <textarea
      id="review-text"
      rows="4"
      formControlName="body"
      placeholder="I think this game was.."
    ></textarea>

    <label>Rating:</label>
    <div class="star-rating">
      <div class="stars">
        <span
          *ngFor="let i of [1, 2, 3, 4, 5]"
          class="star"
          (click)="setRating(i)"
          (mouseenter)="setHoverRating(i)"
          (mouseleave)="clearHoverRating()"
        >
          <mat-icon class="material-symbols-outlined" [ngClass]="{'filled': (hoverRating || reviewForm.get('score')?.value || 0) >= i}">
            dark_mode
          </mat-icon>
        </span>
      </div>

      <span class="rating-text" *ngIf="(reviewForm.get('score')?.value ?? 0) > 0">
        {{ reviewForm.get('score')?.value }} - {{ getRatingLabel(reviewForm.get('score')?.value ?? 0) }}
      </span>

    </div>

    <button type="submit" class="primary">Share Review</button>
  </form>
</section>