<h1>Filters</h1>
<section class="filters">
  <div class="tags-filter">
    <input
      class="tags-filter-input"
      type="text"
      [value]="inputValue"
      (input)="onInput($event)"
      (focus)="showDropdown = true"
      (blur)="onBlur()"
    />

    <ul
      class="tags-filter-dropdown"
      *ngIf="showDropdown && filteredOptions.length > 0"
    >
      <li
        class="tags-filter-option"
        *ngFor="let option of filteredOptions"
        (mousedown)="selectOption(option)"
        [style.background]="option === hoveredOption ? '#f0f0f0' : 'white'"
        (mouseenter)="hoveredOption = option"
      >
        {{ option }}
      </li>
    </ul>
  </div>

  <mat-form-field class="filter">
    <mat-label>Platforms</mat-label>
    <mat-select [(value)]="platformSelected" multiple>
      @for (platform of platformOptions; track platform) {
        <mat-option [value]="platform">{{ platform.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</section>

<button (click)="filter_options(inputValue)">Add</button>

<section class="features">
  <h2>Games</h2>
  <div class="container">
    @if (filter) {
      @for (game of filterGames; track game.id) {
        <div class="card">
          <app-view-game [game]="game"></app-view-game>
        </div>
      }
    } @else {
      @for (game of Games; track game.id) {
        <div class="card">
          <app-view-game [game]="game"></app-view-game>
        </div>
      }
    }
  </div>
</section>
