section {
  margin: 4px 10vw;
  padding-top: 32px;
  font-size: 24px;
  border: 2px solid #012b59;
  padding: 16px;
  color: #e5e5e5;
}
span.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.filter {
  border: 2px solid #012b59;
}

.games-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.card {
  flex: 0 1 24%;
}

@media (max-width: 768px) {
  /* Para tablets */
  .card {
    flex: 1 1 calc(50% - 20px); /* 2 columnas */
    max-width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  /* Para móviles */
  .card {
    flex: 1 1 100%; /* 1 columna */
    max-width: 100%;
  }
}
