<section>
  <h1>Create new playlist</h1>

  <form [formGroup]="playlistForm" (submit)="addPlaylist()">
    <mat-form-field>
      <mat-label for="name">Playlist's name</mat-label>
      <input matInput type="text" id="name" formControlName="name" />
    </mat-form-field>

    <mat-form-field>
      <mat-label for="description">Description</mat-label>
      <textarea
        matInput
        type="text"
        id="description"
        formControlName="description"
      ></textarea>
    </mat-form-field>

    <mat-checkbox id="isPrivate" formControlName="isPrivate"
      >Make this playlist private</mat-checkbox
    >

    <mat-chip-grid #chipGrid aria-label="Enter games">
      @for (game of gameSelected; track game) {
        <mat-chip-row (removed)="remove(game)">
          {{ game.title }}
          <button matChipRemove [attr.aria-label]="'remove ' + game.title">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      }
    </mat-chip-grid>
    <mat-form-field class="example-full-width">
      <input
        class="custom-input"
        type="text"
        placeholder="Search games..."
        aria-label="Game"
        matInput
        [formControl]="myControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        @for (option of filteredOptions | async; track option) {
          <mat-option [value]="">
            <img
              class="option-portrait"
              [src]="option.portrait"
              alt="{{ option.title }}"
            />
            <span class="option-title">{{ option.title }}</span>
            <button mat-fab extended type="button" (click)="addGame(option)">
              <mat-icon>add</mat-icon>Add game
            </button>
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
    <button mat-mini-fab type="submit" class="primary">
      <mat-icon>save</mat-icon>
    </button>
  </form>
</section>
