<header>
  <a
    id="logo"
    class="pico"
    routerLink="/homepage"
    routerLinkActive="active"
    (click)="redirect('/homepage')"
  >
    <img src="../../../assets/logo-ggwp150.png" alt="Placeholder Logo" />
  </a>

  <span id="right-side">
    <span class="search">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input
            class="custom-input"
            type="text"
            placeholder="Search games..."
            aria-label="Game"
            matInput
            [formControl]="myControl"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            @for (option of filteredOptions | async; track option.id) {
              <a href="/game/{{ option.id }}">
                <mat-option [value]="option.title">
                  <div class="option-content">
                    <img
                      class="option-portrait"
                      [src]="linkToStaticResource(option.portrait)"
                      alt="{{ option.title }}"
                    />
                    <span class="option-title">{{ option.title }}</span>
                  </div>
                </mat-option>
              </a>
            }
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </span>

    <span class="advanced-search" (click)="redirect('/search-filters')">
      <mat-icon>filter_list_alt</mat-icon>
    </span>

    <app-nav></app-nav>
  </span>
</header>
