<header class="custom-header">
  <div class="container">
    <div class="header-content">
      <div class="logo">
        <!--TODO review this router link. Doesnt work -->
        <a
          class="pico"
          routerLink="/homepage"
          routerLinkActive="active"
          (click)="redirect('/homepage')"
        >
          <img src="../../../assets/logo-ggwp150.png" alt="Placeholder Logo" />
        </a>
      </div>
      <nav class="navigation">
        <ul class="menu">
          <li>
            <span
              routerLink="/studio"
              routerLinkActive="active"
              (click)="redirect('/studio')"
              >Studio</span
            >
          </li>
          <li>
            <span
              routerLink="/shop"
              routerLinkActive="active"
              (click)="redirect('/shop')"
              >Shop</span
            >
          </li>
          <li>
            <span
              routerLink="/platform"
              routerLinkActive="active"
              (click)="redirect('/platform')"
              >Platform</span
            >
          </li>
          <li>
            <span
              routerLink="/franchise"
              routerLinkActive="active"
              (click)="redirect('/franchise')"
              >Franchise</span
            >
          </li>
          <li>
            <span
              routerLink="/game"
              routerLinkActive="active"
              (click)="redirect('/game')"
              >Game</span
            >
          </li>
          <li>
            <span
              routerLink="/tag"
              routerLinkActive="active"
              (click)="redirect('/tag')"
              >Tag</span
            >
          </li>
          <li>
            <span
              routerLink="/playlist"
              routerLinkActive="active"
              (click)="redirect('/playlist')"
              >Playlist</span
            >
          </li>
          <li class="search">
            <form class="example-form">
              <mat-form-field class="example-full-width">
                <input
                  class="custom-input"
                  type="text"
                  placeholder="Search games..."
                  aria-label="Game"
                  matInput
                  [formControl]="myControl"
                  [matAutocomplete]="auto"
                />
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  @for (option of filteredOptions | async; track option) {
                    <a href="/game/{{ option.id }}">
                      <mat-option [value]="option">
                        <img
                          class="option-portrait"
                          [src]="option.portrait"
                          alt="{{ option.title }}"
                        />
                        <span class="option-title">{{ option.title }}</span>
                      </mat-option>
                    </a>
                  }
                </mat-autocomplete>
              </mat-form-field>
            </form>
          </li>
          <li><app-nav class="pico"></app-nav></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
