<header class="custom-header">
  <div class="container">
    <div class="header-content">
      <div class="logo">
        <a class="pico" routerLink="/homepage" routerLinkActive="active" (click)="redirect('/homepage')">
          <img src="../../../assets/logo-ggwp150.png" alt="Placeholder Logo"/>
        </a>
      </div>
      <nav class="navigation">
        <ul class="menu">
          <li>
            <a routerLink="/studio" routerLinkActive="active" (click)="redirect('/studio')">Studio</a>
          </li>
          <li>
            <a routerLink="/shop" routerLinkActive="active" (click)="redirect('/shop')">Shop</a>
          </li>
          <li>
            <a routerLink="/platform" routerLinkActive="active" (click)="redirect('/platform')">Platform</a>
          </li>
          <li>
            <a routerLink="/franchise" routerLinkActive="active" (click)="redirect('/franchise')">Franchise</a>
          </li>
          <li>
            <a routerLink="/game" routerLinkActive="active" (click)="redirect('/game')">Game</a>
          </li>
          <li>
            <a routerLink="/tag" routerLinkActive="active" (click)="redirect('/tag')">Tag</a>
          </li>
          <li>
            <a routerLink="/playlist" routerLinkActive="active" (click)="redirect('/playlist')">Playlist</a>
          </li>
          <li>
            <form class="example-form">
              <mat-form-field class="example-full-width">
                <input class="custom-input" type="text" placeholder="Search games..." aria-label="Game" matInput [formControl]="myControl" [matAutocomplete]="auto"/>
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  @for (option of filteredOptions | async; track option) {
                  <a href="/game/{{ option.id }}">
                    <mat-option [value]="option">
                      <span class="option-title">{{ option.title }}</span>
                      <img class="option-portrait" [src]="option.portrait" alt="{{ option.title }}"/>
                    </mat-option>
                  </a>}
                </mat-autocomplete>
              </mat-form-field>
            </form>
          </li>
          <li><app-nav class="pico"></app-nav></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
