<main>
  <section class="selected-game">
    @if (game) {
      <ng-container *ngTemplateOutlet="loadedGame">
      </ng-container>
    } @else {
      <ng-container *ngTemplateOutlet="loading"></ng-container>
    }
  </section>

  <section class="reviews">
    <!-- TODO: @If(usuarioEstáLogueado) mostrar el formulario -->

    <!--    <app-review-form [game]="this.game">-->
    <!--    </app-review-form>-->
  </section>
</main>

<ng-template #loading>
  <h1>Loading</h1>
</ng-template>

<ng-template #loadedGame>
  <div class="game-banner">
    <img
      [src]="game.banner"
      alt="Banner del videojuego"
    />
  </div>

  <div class="game-info">
    <img
      [src]="game.portrait"
      alt="Imagen del videojuego"
      class="game-portrait"
    />

    <div class="game-details">
      <h1 class="game-title">{{ game.title }}</h1>

      <h2 class="game-synopsis">Synopsis: (estilizar)</h2>
      <h3 class="game-synopsis">{{ game.synopsis }}</h3>
      <div class="studio-container">
        <!-- esto podría ponerse a la derecha a la misma altura-->
        <div class="studio-column">
          <p class="game-developer">Developer/s:</p>
          <ng-container *ngFor="let studio of game.studios">
            <ng-container *ngIf="studio.type !== 'Publisher'">
              <p class="game-developer">{{ studio.name }}</p>
            </ng-container>
          </ng-container>
        </div>
        <div class="studio-column">
          <p class="game-publisher">Publisher/s:</p>
          <ng-container *ngFor="let studio of game?.studios">
            <ng-container *ngIf="studio.type !== 'Developer'">
              <p class="game-publisher">{{ studio.name }}</p>
            </ng-container>
          </ng-container>
        </div>
      </div>
      <ng-container *ngFor="let platform of game?.platforms">
        <img src="{{ platform.img }}" class="platform-logo" />
      </ng-container>
    </div>
  </div>
  <a href="edit-game/{{ game.id }}" class="edit-button">Edit</a>

  <!-- TODO: Crear componente picture-carousel -->
  @if (game.pictures.length > 0) {
    <section class="game-images">
      <h2>IMAGES</h2>
      <div class="slider">
        <div>
          <div (click)="goToPrevious()" class="leftArrow">❰</div>
          <div (click)="goToNext()" class="rightArrow">❱</div>
        </div>
        <img class="slide" alt="carrusel image" [src]="getCurrentSlideUrl()" />
        <div class="dotsContainer">
          <div
            *ngFor="let slide of game.pictures; let slideIndex = index"
            class="dot"
            (click)="goToSlide(slideIndex)"
          >
            ●
          </div>
        </div>
      </div>
    </section>
  }
</ng-template>

<ng-template #reviewsSection>

</ng-template>
