<main>
  <section id="section-info">
    @if (!user) {
      <h1>Loading profile...</h1>
    } @else {
      <ng-container *ngTemplateOutlet="userinfo"></ng-container>
    }
  </section>

  <section id="section-review-list">
    <ng-container *ngTemplateOutlet="sectionReviews"></ng-container>
  </section>

  <section id="playlist-list">to do...</section>
</main>

<ng-template #userinfo>
  <div id="info-head">
    <img
      id="profile-pic"
      [src]="linkToStaticResource(user?.profile_img)"
      [alt]="user?.nick + '\'s Profile Picture'"
    />
    <div id="info-head-text">
      <h1>{{ user?.nick }}</h1>
      <p>{{ user?.bio_text }}</p>
    </div>
  </div>

  @if (!user?.likedTags) {
    <div class="info-line">
      Likes games about:
      @for (tag of user?.likedTags; track tag.id) {
        <!-- TODO: usar el componente que usamos en la pagina de view-game -->
        <span class="tag-chip">{{ tag.name }}</span>
      }
    </div>
  }

  @if (!user?.linked_accounts) {
    <div class="info-line">
      Call them a gamer (derogatory) at:
      @for (social of user?.linked_accounts; track $index) {
        <!-- TODO: crear un componente que tome de entrada una URL y asocie el ícono de la red social -->
      }
    </div>
  }
</ng-template>

<ng-template #sectionReviews>
  <h2>Recent reviews</h2>
  <hr />
  <div id="review-list">
    @for (review of reviews; track review.id) {
      <app-review-card
        [review]="review"
        [showProfilePicture]="false"
      ></app-review-card>
    }
  </div>
</ng-template>

<ng-template #old>
  <form [formGroup]="userForm">
    <div class="grid">
      <div class="username">
        <h1>{{ user?.nick }}</h1>
        <section class="profilePic">
          <section class="circle">
            <img
              src="{{ apiUrl + '/uploads/' + user?.profile_img }}"
              alt="Profile Picture"
              class="profile-img"
            />
          </section>
        </section>
      </div>
      <mat-card>
        <mat-card-content class="profileInfo">
          <div>
            <section>
              <h2>Bio</h2>
            </section>
            <section>
              <p>{{ user?.bio_text }}</p>
            </section>
            <section>
              <h2>Linked Accounts</h2>

              <mat-chip-set aria-label="Linked Accounts" class="linkedAccounts">
                @for (account of user?.linked_accounts; track account) {
                  <mat-chip color="primary" selected>
                    <a
                      [href]="'https://www.' + account"
                      target="_blank"
                      rel="noopener noreferrer"
                      style="color: black; text-decoration: none"
                    >
                      {{ account }}
                    </a>
                    <!--Esto es muy feo y no me convence, habria que decir como cargar las linked accounts-->
                  </mat-chip>
                }
              </mat-chip-set>
            </section>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-form-field>
        <h3>Liked tags</h3>
        <section class="likedTags">
          @for (tag of user?.likedTags; track likedTags) {
            <mat-chip>{{ tag.name }}</mat-chip>
          }
        </section>

        <section class="editProfile">
          <button
            mat-flat-button
            extended
            aria-label="Edit user"
            type="button"
            class="custom-button"
          >
            <mat-icon>edit</mat-icon>Edit Profile
          </button>
        </section>
      </mat-form-field>
    </div>

    <h2>Total Reviews: {{ user?.reviews?.length }}</h2>

    <!--    <div class="user-container">-->
    <!--      @for (review of user?.reviews; track $index) {-->
    <!--        <div class="user-card">-->
    <!--          @for (game of games; track games) {-->
    <!--            @if (game.id === review.game) {-->
    <!--              <h3>{{ game.title }}</h3>-->
    <!--            }-->
    <!--          }-->
    <!--          <h4>{{ review.title }}</h4>-->
    <!--          <p>{{ review.body }}</p>-->
    <!--          @for (star of [0, 1, 2, 3, 4]; track $index) {-->
    <!--            <span-->
    <!--              class="material-symbols-rounded luna"-->
    <!--              [ngClass]="{ filled: star < review.score }"-->
    <!--            >-->
    <!--              dark_mode-->
    <!--            </span>-->
    <!--          }-->
    <!--        </div>-->
    <!--      }-->
    <!--    </div>-->

    <h2>Total Playlists: {{ user?.playlists?.length }}</h2>

    <div class="user-container">
      @for (playlist of user?.playlists; track playlists) {
        <div class="user-card">
          <h3>{{ playlist.name }}</h3>
          <p>{{ playlist.description }}</p>
        </div>
      }
    </div>

    <!--
    <h1>Reviews</h1>
    <div *ngFor="let review of reviews">
      <h3>{{ review.Game.title }}</h3>      Esto parece que podria funcionar
      <h4>{{ review.title }}</h4>           Si usamos game como Game y no number
      <p>{{ review.body }}</p>
    </div>

  --></form>
</ng-template>
