<section>
    <h1>Listing games</h1>
  
    <button (click)="showGames()">Get Games</button>
  
    @for (game of games; track game.id) {
    <div class="game-item">
      <small>[{{ game.id }}]</small>&nbsp;
      <b>{{ game.title }}</b> &nbsp; 
    </div>
    }
  </section>
  
  
  <section>
    <h1>Create new game</h1>
    <form [formGroup]="gameForm" (submit)="addGame()">
      <label for="title">Title</label>
      <input type="text" id="title" formControlName="title">
      <label for="synopsis">Synopsis</label>
      <input type="text" id="synopsis" formControlName="synopsis">
      <label for="releaseDate">Release date</label>
      <input type="date" id="releaseDate" formControlName="releaseDate">
      <label for="portrait">Portrait</label>
      <input type="text" id="portrait" formControlName="portrait">
      <label for="banner">Banner</label>
      <input type="text" id="banner" formControlName="banner">
      <label for="pictures">Picture</label>
      <input type="text" id="pictures" formControlName="pictures">
      <label for="franchise">Franchise ID</label>
      <input type="text" id="franchise" formControlName="franchise">
      <button type="submit" class="primary">Create</button>
    </form>
  </section>
  
  <!-- UPDATE -->
  <section class="column">
    <h1>Enter Game ID to Edit</h1>
    <form [formGroup]="gameIdForm">
      <div>
        <label for="gameId">Game ID:</label>
        <input id="gameId" formControlName="id" />
      </div>
      <button type="button" (click)="populateForm()">Fetch Game</button>
    </form>
  
    <div *ngIf="editReady">
      <h1>Edit Game</h1>
      <form [formGroup]="updateForm" (submit)="updateGame()">
        <div>
          <label for="title">Title:</label>
          <input id="title" formControlName="title" />
        </div>
        <div>
          <label for="synopsis">Synopsis:</label>
          <input id="synopsis" formControlName="synopsis" />
        </div>
        <div>
          <label for="releaseDate">Release date:</label>
          <input type="date" id="releaseDate" formControlName="releaseDate" />
        </div> 
        <div>
          <label for="portrait">Portrait:</label>
          <input id="portrait" formControlName="portrait" />
        </div>
        <div>
          <label for="banner">Banner:</label>
          <input id="banner" formControlName="banner" />
        </div>
        <div>
          <label for="pictures">Picture:</label>
          <input id="pictures" formControlName="pictures" />
        </div>
        <div>
          <label for="franchise">Franchise ID:</label>
          <input id="franchise" formControlName="franchise" />
        </div>
        <button type="submit" class="primary">Update</button>
      </form>
    </div>
  </section>

  <section>
    <h1>Delete a game</h1>
    <form [formGroup]="deleteForm" (submit)="deleteGame()">
      <input type="number" formControlName="id">
      <input type="submit">
    </form>
  </section>