section {
  margin: 4px auto;
  padding-top: 32px;
  max-width: 1000px;
  font-size: 24px;
  border: 2px solid #012b59;
  padding: 16px;
  color: #E5E5E5;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

section h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #E5E5E5;
}

section p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #E5E5E5;
}

section h2 {
  margin-top: 40px;
  color: #E5E5E5;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #E5E5E5;
}