.profilePic {
  display: flex;
  width: 150px;
  height: 150px;
  background-color: red;
  border-radius: 50%;
  position: relative;
  top: 10px;
  left: 10px;
  margin-left: -1vw;
  margin-top: 1vw;
  justify-content: center;
}

.circle {
  display: flex;
  width: 150px;
  height: 150px;
  background-color: red;
  border-radius: 50%;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.profile-img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  position: relative;
  object-fit: cover;
}


.username {
  font-size: 2vw;
  margin-left: 1vw;
  margin-top: 1vw;
}

.profileInfo {
  display: flex;
  align-items: center;
}

.linkedAccounts {
  display: flex;
  flex-direction: column;
  margin-left: 2vw;
  margin-top: 1vw;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 500px 1fr;
  grid-template-rows: 1fr 1fr 1fr ;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  place-items: center;
}
.review-card {
  background-color: #2f2f92;
  border-radius: 12px;
  min-width: 20em;
  padding: 0.5em;
}

.review-card > .head {
  display: flex;
  gap: 0.5em;
  height: 3em;
}

.review-card > .head > img {
  display: block;
  height: 3em;
  width: 3em;
  aspect-ratio: 1;
  overflow: hidden;
  background-color: gray;
  border-radius: 100%;
}

.top-text > #author,
.top-text > #game {
  font-weight: 800;
}

.star-full:before {
  content: "*";
}
.star-empty:before {
  content: "-";}
