/* General Section Styles */
section {
  /*these don't work properly with angular material components*/
  --main-bg-color: #0E0C1A;
  --secondary-bg-color: #001D3D;
  --main-text-color: #e5e5e5;

  padding-top: 32px;
  font-size: 24px;
  padding: 16px 10vw;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}

h1 {
  color: var(--main-text-color);
  text-align: center;
  margin: 8px;
}

p,
h2,
label,
th,
td {
  color: var(--main-text-color);
}

a {
  color: var(--main-text-color);
  text-decoration: underline;
  cursor: pointer;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background-color: var(--secondary-bg-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.toolbar input {
  color: var(--main-text-color);
}

.toolbar button {
  color: var(--main-text-color);
  background-color: #302c54;
}

.search-bar {
  flex: 1; /* Allow the search bar to take up available space */
  max-width: 600px;
  margin-right: 16px;
}

.add-button.mat-mdc-raised-button {
  white-space: nowrap;
  background-color: #001d3d;
  color: #ffffff;
}

table {
  width: 100%;
  margin-top: 16px;
  padding: 8px 16px;
  background-color: var(--secondary-bg-color);
  color: var(--main-text-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.mat-header-cell,
.mat-cell {
  text-align: center;
  color: var(--main-text-color);
}

mat-paginator {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  padding: 8px 16px;
  background-color: var(--secondary-bg-color);
  color: var(--main-text-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  font-size: 14px;
}

::ng-deep div.mat-mdc-dialog-surface.mdc-dialog__surface {
  overflow-y: auto;
  padding: 8px 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: #012B59;
  color: #e5e5e5;
}

button + button {
  margin-left: 8px; /* Add spacing between buttons */
}

h1.ng-star-inserted {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
}

.mat-dialog-content {
  font-size: 16px;
  color: #e5e5e5;
}

mat-form-field.mat-mdc-form-field {
  width: 90%;
  align-items: center;
  margin: 16px 8px;
}

.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
}

.full-width {
  width: 100%;
}

.mat-mdc-cell,
.mat-mdc-header-cell {
  text-align: center;
}

::ng-deep mat-label {
  color: var(--main-text-color);
}

::ng-deep
  div.mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
  height: 0px;
}

::ng-deep div.mat-mdc-select-panel .mat-mdc-option {
  color: #e5e5e5;
}

::ng-deep
  .cdk-overlay-pane:not(.mat-mdc-select-panel-above)
  div.mat-mdc-select-panel {
  background-color: #333333;
}

::ng-deep .mat-mdc-select-panel-above div.mat-mdc-select-panel {
  background-color: #333333;
}

::ng-deep mat-paginator {
  color: var(--main-text-color);
}

::ng-deep mat-paginator .mat-mdc-icon-button {
  color: var(--main-text-color);
}

::ng-deep mat-paginator .mat-mdc-select-value {
  color: var(--main-text-color);
}

::ng-deep mat-paginator .mat-mdc-select-arrow {
  color: var(--main-text-color);
}

::ng-deep mat-paginator .mat-mdc-form-field-infix {
  color: var(--main-text-color);
}

::ng-deep .mat-mdc-select-panel {
  background-color: #e5e5e5 !important;
}

