<section>
  <h1>Listing platforms</h1>

  <button (click)="showPlatforms()">Get Platforms</button>

  @for (platform of platforms; track platform.id) {
  <div class="platform-item">
    <small>[{{ platform.id }}]</small>&nbsp;
    <b>{{ platform.name }}</b> &nbsp;
  </div>
  }
</section>
<section>
  <h1>Create new platform</h1>
<form (ngSubmit)="addPlatform({ name: name, img: img })">
  <input type="text" [(ngModel)]="name" name="name" placeholder="Name">
  <input type="text" [(ngModel)]="img" name="img" placeholder="img">
  <button type="submit">Add Platform</button>
</form>
</section>