<main>
  <section class="featured-games">
    <h2>Popular Games</h2>
    <mat-divider [inset]="true"></mat-divider>
    <div class="grid-container">
      @for (game of hotGames; track game.id) {
        <app-view-game [game]="game"></app-view-game>
      }
    </div>
  </section>

  <section class="review-list">
    <div class="container">
      <h2>Latest reviews</h2>
      <!-- From friends? -->
      <mat-divider [inset]="true"></mat-divider>

      <div class="reviews-container">
        @for (review of reviews.slice(0, 6); track review.id) {
          <app-review-card
            [review]="review"
            [expanded]="expandedReviewId === review.id"
            (expandedChange)="handleExpandedChange($event)"
            (click)="toggleReviewExpand(review.id)"
            style="cursor: pointer"
          ></app-review-card>
        }
      </div>
    </div>
  </section>

  <section *ngIf="!userLoginOn" class="cta">
    <!-- TODO -->
    <div class="container">
      <h2>Ready to Get Started?</h2>
      <a
        routerLink="/log-in"
        routerLinkActive="active"
        (click)="redirect('/log-in')"
        class="cta-button"
      >
        Sign Up Now
      </a>
    </div>
  </section>

  <!--section *ngIf="userLoginOn" class="cta">
    < TODO >
    <div class="container">
      <h2>Welcome</h2>
      <p>Id: {{ userData?.id }}</p>
      <p>Nick: {{ userData?.nick }}</p>
      <p>Email: {{ userData?.email }}</p>
    </div>
  </section -->
</main>
