.landing-page {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: #333;
}
.header {
  background-color: #0e0c1a;
  color: #e5e5e5;
  text-align: center;
  padding: 10px 0;
}
.header.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header h3 {
  font-size: 3rem;
  font-family: "Times New Roman", serif;
  margin: 10px;
  color: #e5e5e5;
}
.mat-divider {
  border-top-color: white;
  padding: 10px;
}
.features {
  padding: 20px 0 40px 0;
  background-color: #0e0c1a;
}

.features .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.features h2 {
  position: relative;

  color: #e5e5e5;
  padding-top: 20px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
  padding: 20px;
  justify-items: center;
  align-items: start;
}

.grid-container app-view-game {
  width: 100%;
  max-width: 400px;
  display: block;
}

.cta {
  background-color: #001d3d;
  color: white;
  text-align: center;
  padding: 40px 0;
  margin: 0;
}

.cta h2 {
  font-size: 2.5rem;
  color: #e5e5e5;
}

.cta p {
  font-size: 1.2rem;
}

.cta-button {
  display: inline-block;
  background-color: white;
  color: #001d3d;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #f1f1f1;
}

@media (max-width: 768px) {
  .header {
    padding: 60px 0;
  }

  .header h3 {
    font-size: 2rem;
  }

  .grid-container {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 10px;
  }

  .review-list-grid,
  .testimonial-grid {
    grid-template-columns: 1fr;
  }
  .feature-grid,
  .testimonial-grid {
    grid-template-columns: 1fr;
  }
}

.review-list {
  background-color: #0e0c1a;
  /* Dark background */
  padding: 20px;
  color: white;
  /* Text color for better contrast */
}

.reviews-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10em;
  padding: 20px;
}

.review-card {
  background-color: #1e1e1e;
  /* Slightly lighter dark background for cards */
  border: 1px solid #333;
  border-radius: 8px;
  padding: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  /* Limit the maximum width of the cards */
  margin: 0 auto;
  /* Center the card horizontally within its grid cell */
}

.review-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.review-text {
  font-size: 1rem;
  margin-bottom: 10px;
}

.review-rating {
  font-size: 1.2rem;
}

.review-rating span {
  color: gold;
  /* Color for stars */
}
