<section class="crud-section">
  <h1>Update game id:{{ id }}</h1>
  <form [formGroup]="updateForm" (submit)="updateGame()" class="crud-form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Title</mat-label>
      <input required matInput type="text" id="title" formControlName="title" />
      <mat-error *ngIf="updateForm.get('title')?.invalid"
        >Title is required</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Synopsis</mat-label>
      <textarea matInput id="synopsis" formControlName="synopsis"></textarea>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Release date</mat-label>
      <input
        matInput
        type="date"
        id="releaseDate"
        formControlName="releaseDate"
      />
    </mat-form-field>

    <h3>Pictures</h3>
    <div class="picture-container">
      <div class="image-upload">
        <span>Portrait:</span>
        <app-form-image-field
          parentFormFileControlName="portraitFile"
          parentFormUrlControlName="portraitHref"
        >
        </app-form-image-field>
      </div>

      <div class="image-upload">
        <span>Banner:</span>
        <app-form-image-field
          parentFormFileControlName="bannerFile"
          parentFormUrlControlName="bannerHref"
        >
        </app-form-image-field>
      </div>
    </div>

    <!-- Franchise -->
    @if (isFrSelected === true) {
      <mat-chip-grid #chipGrid aria-label="Enter franchise">
        <mat-chip-row (removed)="removeFranchise(franchiseSelected)">
          {{ franchiseSelected.name }}
          <button
            matChipRemove
            [attr.aria-label]="'remove ' + franchiseSelected.name"
          >
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      </mat-chip-grid>
    }
    <mat-form-field appearance="outline" class="full-width">
      <input
        class="custom-input"
        type="text"
        placeholder="Search franchises..."
        aria-label="Franchise"
        matInput
        [formControl]="franchiseControl"
        [matAutocomplete]="autoFranchise"
      />
      <mat-autocomplete #autoFranchise="matAutocomplete">
        @for (option of filteredFranchiseOptions | async; track option) {
          <mat-option [value]="" (click)="addFranchise(option)">
            <span class="option-name">{{ option.name }}</span>
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    <!-- Tags -->
    <mat-chip-grid #chipGrid aria-label="Enter tags">
      @for (tag of tagSelected; track tag) {
        <mat-chip-row (removed)="removeTag(tag)">
          {{ tag.name }}
          <button matChipRemove [attr.aria-label]="'remove ' + tag.name">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      }
    </mat-chip-grid>
    <mat-form-field appearance="outline" class="full-width">
      <input
        class="custom-input"
        type="text"
        placeholder="Search tags..."
        aria-label="Tag"
        matInput
        [formControl]="tagControl"
        [matAutocomplete]="autoTag"
      />
      <mat-autocomplete #autoTag="matAutocomplete">
        @for (option of filteredTagOptions | async; track option) {
          <mat-option [value]="" (click)="addTag(option)">
            <span class="option-name">{{ option.name }}</span>
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    <!-- Studios -->
    <mat-chip-grid #chipGrid aria-label="Enter studios">
      @for (studio of studioSelected; track studio) {
        <mat-chip-row (removed)="removeStudio(studio)">
          {{ studio.name }}
          <button matChipRemove [attr.aria-label]="'remove ' + studio.name">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      }
    </mat-chip-grid>
    <mat-form-field appearance="outline" class="full-width">
      <input
        class="custom-input"
        type="text"
        placeholder="Search studios..."
        aria-label="Studio"
        matInput
        [formControl]="studioControl"
        [matAutocomplete]="autoStudio"
      />
      <mat-autocomplete #autoStudio="matAutocomplete">
        @for (option of filteredStudioOptions | async; track option) {
          <mat-option [value]="" (click)="addStudio(option)">
            <span class="option-name">{{ option.name }}</span>
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    <!-- Shops -->
    <mat-chip-grid #chipGrid aria-label="Enter shops">
      @for (shop of shopSelected; track shop) {
        <mat-chip-row (removed)="removeShop(shop)">
          {{ shop.name }}
          <button matChipRemove [attr.aria-label]="'remove ' + shop.name">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      }
    </mat-chip-grid>
    <mat-form-field appearance="outline" class="full-width">
      <input
        class="custom-input"
        type="text"
        placeholder="Search shops..."
        aria-label="Shop"
        matInput
        [formControl]="shopControl"
        [matAutocomplete]="autoShop"
      />
      <mat-autocomplete #autoShop="matAutocomplete">
        @for (option of filteredShopOptions | async; track option) {
          <mat-option [value]="" (click)="addShop(option)">
            <span class="option-name">{{ option.name }}</span>
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    <!-- Platforms -->
    <mat-chip-grid #chipGrid aria-label="Enter platforms">
      @for (platform of platformSelected; track platform) {
        <mat-chip-row (removed)="removePlatform(platform)">
          {{ platform.name }}
          <button matChipRemove [attr.aria-label]="'remove ' + platform.name">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      }
    </mat-chip-grid>
    <mat-form-field appearance="outline" class="full-width">
      <input
        class="custom-input"
        type="text"
        placeholder="Search platforms..."
        aria-label="Platform"
        matInput
        [formControl]="platformControl"
        [matAutocomplete]="autoPlatform"
      />
      <mat-autocomplete #autoPlatform="matAutocomplete">
        @for (option of filteredPlatformOptions | async; track option) {
          <mat-option [value]="" (click)="addPlatform(option)">
            <span class="option-name">{{ option.name }}</span>
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      aria-label="save game"
      type="submit"
      class="primary full-width"
      style="margin-top: 24px"
    >
      <mat-icon>save</mat-icon>Save game
    </button>
  </form>
  <div *ngIf="gameUpdated" class="game-updated">
    <h1>Game updated successfully</h1>
    <span class="success-buttons">
      <button mat-raised-button color="primary" (click)="goToGame()">
        <mat-icon>gamepad</mat-icon>
        Go to game
      </button>
      <button mat-raised-button color="primary" (click)="goToHomepage()">
        <mat-icon>home</mat-icon>
        Go to homepage
      </button>
    </span>
  </div>
</section>
