<section>
<h1>Edit Game ID: {{id}}</h1>
<form [formGroup]="updateForm" (submit)="updateGame()">
  <div>
    <label for="title">Title:</label>
    <input id="title" formControlName="title" />
  </div>
  <div>
    <label for="synopsis">Synopsis:</label>
    <input id="synopsis" formControlName="synopsis" />
  </div>
  <div>
    <label for="releaseDate">Release date:</label>
    <input type="date" id="releaseDate" formControlName="releaseDate" />
  </div>
  <div>
    <label for="portrait">Portrait:</label>
    <input id="portrait" formControlName="portrait" />
  </div>
  <div>
    <label for="banner">Banner:</label>
    <input id="banner" formControlName="banner" />
  </div>
  <div>
    <label for="pictures">Picture:</label>
    <input id="pictures" formControlName="pictures" />
  </div>
  <div>
    <label for="franchise">Franchise ID:</label>
    <input id="franchise" formControlName="franchise" />
  </div>
  <button type="submit" class="primary">Update</button>
</form>
</section>


<!-- REVISAR TODO ESTO>
<section>
  Tag search to add to the game...
  Work in progress...
  <form [formGroup]="searchTags"> < required (selectionChange)="displaySelectedTag()">
    <div class="outline" class="lookup-search-input-field">
      <input  type="text" formControlName="tagName" placeholder="Tag"> < (input)="searchTags()" o en el tuto dice (keyup)="onKey($event)" >
    </div>
    <div class="option" *ngFor="let lookup of tagsLookup">{{lookup.name}}</div> < revisar >
  </form>
</section-->


<section>
  <h1>Search Tag</h1>
  <div style="position: relative; width: 300px;">
    <input
      type="text"
      [value]="inputValue"
      (input)="onInput($event)"
      (focus)="showDropdown = true"
      (blur)="onBlur()"
      style="width: 100%; padding: 8px; box-sizing: border-box;"
    />
  
    <ul
      *ngIf="showDropdown && filteredOptions.length > 0"
      style="position: absolute; top: 100%; left: 0; right: 0; max-height: 200px; overflow-y: auto; border: 1px solid #ccc; background: white; padding: 0; margin: 0; list-style: none; z-index: 10;"
    >
      <li
        *ngFor="let option of filteredOptions"
        (mousedown)="selectOption(option)"
        style="padding: 8px; cursor: pointer;"
        [style.background]="option === hoveredOption ? '#f0f0f0' : 'white'"
        (mouseenter)="hoveredOption = option"
      >
        {{ option }}
      
      </li>

    </ul>
    <button (click)="addTag( inputValue )">Add</button>
</div>
</section>