<nav>
  <ul>
    <li>
      <details class="dropdown">
        <summary>Account</summary>
        <ul dir="rtl">
          @if (userLoggedIn) {
            <ng-container *ngTemplateOutlet="optionsSessionUser"></ng-container>
          } @else {
            <ng-container *ngTemplateOutlet="optionsSessionOff"></ng-container>
          }
        </ul>
      </details>
    </li>
  </ul>
</nav>

<ng-template #optionsSessionOff>
  <li>
    <a routerLink="/log-in" routerLinkActive="active">Login</a>
  </li>
  <li>
    <a routerLink="/register" routerLinkActive="active">Register</a>
  </li>
</ng-template>

<ng-template #optionsSessionUser>
  <li>
    <a routerLink="/user/me" routerLinkActive="active">Profile</a>
  </li>

  <li><a>Settings</a></li>
  <li><a>Security</a></li>
  <li><a (click)="logout()">Logout</a></li>
</ng-template>

<ng-template #optionsSessionAdmin> </ng-template>
