<nav>
  <ul>
    <li>
      <details class="dropdown">
        <summary>Account</summary>
        <ul dir="rtl">
          <li *ngIf="!userLoginOn">
            <a
              routerLink="/log-in"
              routerLinkActive="active"
              (click)="redirect('/log-in')"
              >Login</a
            >
          </li>
          <li *ngIf="!userLoginOn">
            <a
              routerLink="/register"
              routerLinkActive="active"
              (click)="redirect('/register')"
              >Register</a
            >
          </li>

          <li *ngIf="!userLoginOn"><a
            routerLink="/profile"
            routerLinkActive="active"
            (click)="redirect('/profile')"
            >Profile</a
            > <!-- Lo dejo sin login para probarlo rapido -->
          </li>
          <li *ngIf="userLoginOn"><a href="#">Settings</a></li>
          <li *ngIf="userLoginOn"><a href="#">Security</a></li>
          <li *ngIf="userLoginOn"><a routerLink="">Logout</a></li>
        </ul>
      </details>
    </li>
  </ul>
</nav>
