<nav class="pico">
  <details class="dropdown">
    <summary>Account</summary>
    <ul dir="rtl">
      @if (!userLoggedIn) {
        <ng-container *ngTemplateOutlet="optionsSessionOff"></ng-container>
      } @else {
        @if (userisAdmin) {
          <ng-container *ngTemplateOutlet="optionsSessionAdmin"></ng-container>
        } @else {
          <ng-container *ngTemplateOutlet="optionsSessionUser"></ng-container>
        }
      }
    </ul>
  </details>
</nav>

<ng-template #optionsSessionOff>
  <li>
    <a routerLink="/log-in" routerLinkActive="active">Login</a>
  </li>
  <li>
    <a routerLink="/register" routerLinkActive="active">Register</a>
  </li>
</ng-template>

<ng-template #optionsSessionUser>
  <li>
    <a [routerLink]="'/user/' + userNick" routerLinkActive="active">Profile</a>
  </li>

  <li>
    <a routerLink="/playlist" routerLinkActive="active">Playlist</a>
  </li>
  <li>
    <!-- Temporal -->
    <a routerLink="/user/edit-profile/">Settings</a>
  </li>
  <li><a>Security</a></li>
  <li><a (click)="logout()">Logout</a></li>
</ng-template>

<ng-template #optionsSessionAdmin>
  <li>
    <a routerLink="/user/me" routerLinkActive="active">Profile</a>
  </li>
  <li>
    <a routerLink="/administradores/game" routerLinkActive="active">Cruds</a>
  </li>
  <li>
    <a routerLink="/playlist" routerLinkActive="active">Playlist</a>
  </li>
  <li><a>Settings</a></li>
  <li><a>Security</a></li>
  <li><a (click)="logout()">Logout</a></li>
</ng-template>
