<div class="review-card">
  <div class="head">
    @if (showProfilePicture) {
      <img
        [src]="linkToStaticResource(review().author.profile_img)"
        [alt]="review().author.nick + '\'s profile picture'"
      />
    }
    <span class="top-text">
      <a [routerLink]="['/user', review().author.nick]" id="author">{{
        review().author.nick
      }}</a>
      rated
      <br>
      <a [routerLink]="['/game', review().game.id]" id="game">{{
        review().game.title
      }}</a>
    </span>
  </div>

  <div id="rating">
    @for (star of [1, 2, 3, 4, 5]; track $index) {
      <span
        class="material-symbols-rounded moon"
        [ngClass]="{ filled: star <= review().score }"
      >
        dark_mode
      </span>
    }
  </div>

  @if (review().title !== "") {
    <p class="title">{{ review().title }}</p>
  }
  @if (review().body !== "") {
    <p class="body">
      {{ review().body }}
    </p>
  }
</div>

@if (expanded) {
  <div class="review-modal">
    <div class="review-modal-content" (click)="$event.stopPropagation()">
      <button
        class="close-modal-btn"
        (click)="closeModal(); $event.stopPropagation()"
      >
        &times;
      </button>
      <div class="head">
        @if (showProfilePicture) {
          <img
            [src]="linkToStaticResource(review().author.profile_img)"
            [alt]="review().author.nick + '\'s profile picture'"
          />
        }
        <span class="top-text">
          <a [routerLink]="['/user', review().author.nick]" id="author">{{
            review().author.nick
          }}</a>
          rated
          <a [routerLink]="['/game', review().game.id]" id="game">{{
            review().game.title
          }}</a>
        </span>
      </div>

      <div id="rating">
        @for (star of [1, 2, 3, 4, 5]; track $index) {
          <span
            class="material-symbols-rounded moon"
            [ngClass]="{ filled: star <= review().score }"
          >
            dark_mode
          </span>
        }
      </div>

      @if (review().title !== "") {
        <p class="title">{{ review().title }}</p>
      }
      @if (review().body !== "") {
        <p class="body">
          {{ review().body }}
        </p>
      }
    </div>
  </div>
}
