.review-card {
  background-color: #2F2F92;
  border-radius: 12px;
  min-width: 20em;
  padding: 0.5em;
}

.review-card > .head {
  display: flex;
  gap: 0.5em;
  height: 3em;
}

.review-card > .head > img {
  display: block;
  height: 3em;
  width: 3em;
  aspect-ratio: 1;
  overflow: hidden;
  background-color: gray;
  border-radius: 100%;
}

.top-text > #author,
.top-text > #game {
  font-weight: 800;
}

.star-full:before {
  content: '*';
}
.star-empty:before {
  content: '-';
}
