<div class="review-card">
  <div class="head">
    <img
      [src]="review().author.profile_img"
      [alt]="review().author.nick + '\'s profile picture'"
    />
    <!--user profile pic-->
    <span class="top-text">
      <span id="author">{{ review().author.nick }}</span> rated
      <br />
<!---      <span id="game">{{ review().game.title }}</span> -->
    </span>
  </div>

  <hr />

  <div id="rating">
    @for (star of [1, 2, 3, 4, 5]; track $index) {
      @if (star < review().score) {
        <span class="star-full"></span>
      } @else {
        <span class="star-empty"></span>
      }
    }
  </div>

  @if (review().title !== "") {
    <p class="title">{{ review().title }}</p>
  }
  @if (review().body !== "") {
    <p class="body">{{ review().body }}</p>
  }
</div>
