:host {
  display: block;
  background-color: #333333;
  border-radius: .5em;
  padding: 0.5em;
}

/* Estrellas  */

.review-rating span {
  color: #ffb400;
}

.moon {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  font-size: 20px;
  vertical-align: middle;
  color: gray;
}

.moon.filled {
  color: #ffd700;
}

/* Texto  */

.title, .body {
  margin: 0;
}

.title {
  font-size: 1em;
  font-weight: bold;
  color: #ffffff;
  display: block;
  margin-bottom: 8px;
}

.body {
  font-size: 0.8em;
  color: #e7e7e7;
}

/* Autor */

.author {
  margin-top: 0.5em;
  font-size: 0.8em;
}

.author a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.author img {
  display: inline;
  background-color: black;
  vertical-align: bottom;
  border-radius: 50%;
  margin-right: 0.25em;
  height: 2em;
  aspect-ratio: 1;
}

/* TODO: Revisar responsive design */

@media (max-width: 768px) {
  :host {
    margin: 10px;
  }
  .body {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .review-rating {
    font-size: 1.1rem;
  }
}

