<!-- GET ALL -->
<section>
  <h1>Listing franchises</h1>

  <button (click)="showFranchises()">Get Franchises</button>

  @for (franchise of franchises; track franchise.id) {
  <div class="franchise-item">
    <small>[{{ franchise.id }}]</small>&nbsp;
    <b>{{ franchise.name }}</b> &nbsp;
  </div>
  }
</section>

<!-- CREATE -->
<section>
  <h1>Create new franchise</h1>
  <form [formGroup]="franchiseForm" (submit)="addFranchise()">
    <label for="name">Name</label>
    <input type="text" id="name" formControlName="name">

    <label for="img">Games (TODO)</label>
    <input type="text" id="game" formControlName="game">

    <button type="submit" class="primary">Create</button>
  </form>
</section>

<!-- UPDATE -->
<section class="column">
  <h1>Enter Franchise ID to Edit</h1>
  <form [formGroup]="franchiseIdForm">
    <div>
      <label for="franchiseId">Franchise ID:</label>
      <input id="franchiseId" formControlName="id" />
    </div>
    <button type="button" (click)="populateForm()">Fetch Franchise</button>
  </form>

  <div *ngIf="editReady">
    <h1>Edit Franchise</h1>
    <form [formGroup]="updateForm" (submit)="updateFranchise()">
      <div>
        <label for="name">Name:</label>
        <input id="name" formControlName="name" />
      </div> <!--TODO modify games from here -->
      <button type="submit" class="primary">Update</button>
    </form>
  </div>
</section>

<section>
  <h1>Delete a franchise</h1>
  <form [formGroup]="deleteForm" (submit)="deleteFranchise()">
    <input type="number" formControlName="id">
    <input type="submit">
  </form>
</section>
