<mat-toolbar>
  <mat-toolbar-row>
    <button
      mat-icon-button
      (click)="sideUserNav.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <p style="margin-left: 8px">Welcome, admin</p>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sideUserNav mode="over" style="width: 20%">
    <mat-nav-list>
      <a mat-list-item routerLink="/admin/game">Games</a>
      <a mat-list-item routerLink="/admin/platform">Platforms</a>
      <a mat-list-item routerLink="/admin/studio">Studios</a>
      <a mat-list-item routerLink="/admin/shop">Shops</a>
      <a mat-list-item routerLink="/admin/tag">Tags</a>
      <a mat-list-item routerLink="/admin/franchise">Franchises</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
