/* You can add global styles to this file, and also import other style files */

:root {
  --bg-color: #001d3d;
  --text-color: #e5e5e5;
  --hover-color: #666666;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.text-danger {
  color: red;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 48;
}

html,
body {
  height: 100%;
  background-color: #001d3d;
  color: #e5e5e5;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
