/* You can add global styles to this file, and also import other style files */

/* DARK MODE */
:root {
  --bg-color: #ffffff;
  --text-color: #333333;
  --hover-color: #666666;
}

body.dark-mode {
  --bg-color: #333333;
  --text-color: #ffffff;
  --hover-color: #cccccc;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* FORMS */
.ng-valid:not(form) {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}

.text-danger {
  color: #a94442; /* red */
  background-color: #f2dede; /* light red */
  border-color: #ebccd1; /* light red */
  padding: 5px;
}