<section>
  <h1>Update playlist id: {{ id }}</h1>

  <form [formGroup]="playlistForm" (submit)="updatePlaylist()">
    <mat-form-field>
      <mat-label for="name">Playlist's name</mat-label>
      <input matInput type="text" id="name" formControlName="name" />
    </mat-form-field>

    <mat-form-field>
      <mat-label for="description">Description</mat-label>
      <textarea
        matInput
        type="text"
        id="description"
        formControlName="description"
      ></textarea>
    </mat-form-field>

    <mat-checkbox id="isPrivate" formControlName="isPrivate"
      >Make this playlist private</mat-checkbox
    >

    <div class="games-section">
      <h3>Selected Games:</h3>
      <mat-chip-set aria-label="Selected games">
        @for (game of gameSelected; track game.id) {
          <mat-chip (removed)="remove(game)">
            <img
              class="chip-portrait"
              [src]="linkToStaticResource(game.portrait)"
              alt="{{ game.title }}"
            />
            {{ game.title }}
            <button matChipRemove [attr.aria-label]="'remove ' + game.title">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
        }
      </mat-chip-set>
    </div>
    <mat-form-field class="example-full-width">
      <input
        class="custom-input"
        type="text"
        placeholder="Search games..."
        aria-label="Game"
        matInput
        [formControl]="myControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        @for (option of filteredOptions | async; track option.id) {
          <mat-option [value]="option.title" (click)="addGame(option)">
            <div class="option-content">
              <img
                class="option-portrait"
                [src]="linkToStaticResource(option.portrait)"
                alt="{{ option.title }}"
              />
              <span class="option-title">{{ option.title }}</span>
            </div>
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
    <button mat-mini-fab type="submit" class="primary">
      <mat-icon>save</mat-icon>
    </button>
  </form>
  <div *ngIf="playlistUpdated" class="playlist-created">
    <h1>Playlist created succesfully</h1>
    <span class="success-buttons">
      <button mat-raised-button color="primary" (click)="goToPlaylist()">
        <mat-icon>list</mat-icon>
        Go to playlist
      </button>
      <button mat-raised-button color="primary" (click)="goToHomepage()">
        <mat-icon>home</mat-icon>
        Go to homepage
      </button>
      <button mat-raised-button color="primary" (click)="addNewPlaylist()">
        <mat-icon>add</mat-icon>
        Add new playlist
      </button>
    </span>
  </div>
</section>
