<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="logo">
        <a routerLink="homepage" routerLinkActive="active" (click)="redirect('homepage')">
          <img src="assets/placeholder_logo.png" alt="Placeholder Logo">
        </a>
      </div>
      <div class="footer-social">
        <a href="https://facebook.com" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://x.com/teamcherrygames" target="_blank" rel="noopener noreferrer" aria-label="Twitter">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://instagram.com/leomessi" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://github.com/Maig0l/utn-dsw-front" target="_blank" rel="noopener noreferrer" aria-label="GitHub">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; {{ currentYear }} Well Played. All rights reserved.</p>
    </div>
  </div>
</footer>