.footer {
  background-color: #12161a;
  color: #E5E5E5;
  padding: 2rem 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.logo img {
  width: 100px;
  height: auto;
}

.footer-social a {
  color: #E5E5E5;
  font-size: 1.2rem;
  margin-left: 1rem;
}

.footer-social a:hover {
  color: var(--hover-color);
}

.footer-bottom p{
  text-align: center;
  font-size: 0.9rem;
  margin-top: 1rem;
  color: var(--text-color);
}